body{
    background: url(../img/loginback.jpg);
    height: 100%;
    margin: 0%;
}
body::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.5;
}
.container{
    border: 2px solid black;
}
#logo1 img {
    height: 100px;
    margin: 5px 15px;
}
.form{
    display: flex;
    float: right;
    border: 1px solid black;
    height: 316px;
    width: 357px;
    margin: -10px 150px;
    background:white;
    border-radius: 15px;
    justify-content: center;
    opacity: 0.95;
}
.inputform{
    padding: 10px 59px;
    margin: 9px 30px;
    border: 2px solid black;
    border-radius: 7px;
    font-weight: bold;
    font-family: system-ui;
}
#btn{
    padding: 8px 59px;
    margin: 2px 52px;
    background-color: #6161c5;
    color: white;
    font-size: 13px;
    border: 2px solid black;
    /* color: black; */
    border-radius: 7px;
}
#btn1{
    padding: 8px 102px;
    margin: 2px 52px;
    background-color: #6161c5;
    color: white;
    font-size: 13px;
    border: 2px solid black;
    /* color: black; */
    border-radius: 7px;
}
#btn:hover{
    cursor: pointer;
    background-color: #4747bd;
}
#btn1:hover{
    cursor: pointer;
    background-color: #4747bd;
}